.Comment{
  display: flex;
  margin-top: 15px;
  position: relative;
}

.Comment__Content {
  width: 227px;
  height: auto;
  border-radius: 24px;
  background-color: #f6fafd;
  font-size: smaller;
  padding: 0.5rem;
}

.Comment__UserImage img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.Comment__UserImage {
  padding: 1rem;
  font-size: small;
  text-align: center;
}
@media (max-width: 576px){
  .Comment__Content{
    width: 95%;
  }
}